<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title> component </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/component.css">
</head>
<body>
    <div class="layout-contents">
        {% block component_lwh %}{% endblock %}
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>