<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title> Hellow D-talks! </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    {% block template_test %}{% endblock %}     

    <!-- include html -->
    {# {% include "component/.njk" %} #}
    <!-- include html -->

    {% block scripts %}{% endblock %}
</body>
</html>