<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title> layout </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <div class="">
        {% block layout_view %}{% endblock %}
    </div>
</body>
</html>