/* module CSS */
body {
    background: #626262;
    padding: 20px;
}
.component-title {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: normal;
    background: linear-gradient( to right, skyblue, #1d8dff );
    margin-top: 20px;
}
.component-title:first-of-type {
    margin-top: 0;
}
.component-sub-title {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding-bottom: 10px;
}
.component-contents {
    min-height: 400px;
    padding: 10px 20px;
    background: white;
}





/* uihong */
.card-size-260 {
    width: 260px;
}

.module-card.uihong {
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.module-card.uihong .card-visual {
    width: 260px;
    height: 200px;
}
.module-card.uihong .card-visual img {
    width: 100%;
}
.module-card.uihong .card-contents {
    position: relative;
}
.module-card.uihong .text-title {
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 10px;
}