/* module CSS */
body {
    background: #626262;
    padding: 20px;
}
.component-title {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: normal;
    background: linear-gradient( to right, skyblue, #1d8dff );
}
.component-sub-title {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding-bottom: 10px;
}
.component-contents {
    min-height: 400px;
    padding: 10px 20px;
    background: white;
}