/* module CSS */
body {
    font-family: 'Open Sans', sans-serif;
}
.con {
    
}
.con a {
    width: 260px;
    min-height: 250px;
    display: block;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: relative;
}
.con a .webimg img {
    border-radius: 5px 5px 0px 0px;
}

.con a h3 {
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 10px;
}
.con a p {
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    padding: 0px 10px ;
}
.con a span {
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    display: block;
}
.con .icon-svg {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 60px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
}