/* module CSS */
body {
    font-family: 'Open Sans', sans-serif;
}
.module-card.uihong {
    width: 260px;
    min-height: 250px;
    display: block;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: relative;
}
.module-card.uihong .card-visual {

}
.module-card.uihong .card-visual img {
    border-radius: 5px 5px 0px 0px;
}
.module-card.uihong .card-contents {

}
.module-card.uihong .card-contents .icon-svg {
    position: absolute;
    right: 20px;
    bottom: 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
}
.module-card.uihong .card-contents .text-title {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 10px;
}
.module-card.uihong .card-contents .text-sub {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 10px ;
}
.module-card.uihong .card-footer {

}
.module-card.uihong .card-footer .text-footer {
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}