{% extends "layouts/component.njk" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
<link rel="stylesheet" type="text/css" href="/css/wholee-comp.css">
{% endblock %}

{% block component %}
<h2 class="component-title">Card UI</h2>
<div class="component-contents">
    <h3 class="component-sub-title">SVG Guide</h3>
    <!-- Memo 아이콘 사용시 inline 속성값을 수정하면 크기가 자유롭게 변합니다. -->
    <i class="icon-svg svg-size svg-article" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-awards" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-company" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-education" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-gallery" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-portfolio" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-shopping" style="width: 50px; height: 50px;"></i>
</div>
{% endblock %}