{% extends "layouts/component.njk" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
<link rel="stylesheet" type="text/css" href="/css/wholee-comp.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block component %}
<h2 class="component-title">SVG Guide</h2>
<div class="component-contents">
    <!-- Memo 아이콘 사용시 inline 속성값을 수정하면 크기가 자유롭게 변합니다. -->
    <i class="icon-svg svg-size svg-article" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-awards" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-company" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-education" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-gallery" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-portfolio" style="width: 50px; height: 50px;"></i>
    <i class="icon-svg svg-size svg-shopping" style="width: 50px; height: 50px;"></i>
</div>

<h2 class="component-title">Card UI Guide</h2>
<div class="component-contents">
    <!-- module card basic = width: 260px; -->
    <!-- card-size-nnn : 숫자 수치에 따라 크기보정이 가능하도록 설계 -->
    <!-- group-name = wholee / uihong / 오성 / 지원 / 유네 각 이름 추가하면 UI변경 -->
    <div class="module-card card-size-nnn group-name">
        <div class="card-header">
            <div class="info-user">wholee</div>
            <div class="info-date">2019. 12. 16</div>
        </div>
        <div class="card-visual">
            <img src="https://dummyimage.com/260x200/00a2ff/fff" alt="card visual image">
        </div>
        <div class="card-contents">
            <div class="text-title">
                title text
            </div>
            <div class="text-sub">
                sub text sub text sub text sub text sub text sub text 
            </div>
        </div>
        <div class="card-footer">
            <i class="heart outline icon"></i>
        </div>
    </div>
</div>

<h2 class="component-title">Card UI</h2>
<div class="component-contents">
    <!-- module card basic = width: 260px; -->
    <!-- card-size-nnn : 숫자 수치에 따라 크기보정이 가능하도록 설계 -->
    <!-- group-name = wholee / uihong / 오성 / 지원 / 유네 각 이름 추가하면 UI변경 -->
    <div class="module-card card-size-260 uihong">
        <a href="">
            <div class="card-visual">
                <img src="https://dummyimage.com/260x200/00a2ff/fff" alt="card visual image">
            </div>
            <div class="card-contents">
                <p class="text-title">
                    title text
                </p>
                <p class="text-sub">
                    sub text sub text sub text sub text sub
                </p>
                <p class="text-source">
                    source text
                </p>
                <i class="icon-svg svg-size svg-awards" style="width: 50px; height: 50px;"></i>
            </div>
        </a>
    </div>
</div>

<h2 class="component-title">Card UI YH</h2>
<div class="component-contents">
    <!-- module card basic = width: 260px; -->
    <!-- card-size-nnn : 숫자 수치에 따라 크기보정이 가능하도록 설계 -->
    <!-- group-name = wholee / uihong / 오성 / 지원 / 유네 각 이름 추가하면 UI변경 -->
    <div class="module-card card-size-260 uihong">
        <a href="">
            <div class="card-visual">
                <img src="https://dummyimage.com/260x200/00a2ff/fff" alt="card visual image">
            </div>
            <div class="card-contents">
                <p class="text-title">
                    title text
                </p>
                <p class="text-sub">
                    sub text sub text sub text sub text sub
                </p>
                <p class="text-source">
                    source text
                </p>
                <i class="icon-svg svg-size svg-awards" style="width: 50px; height: 50px;"></i>
            </div>
        </a>
    </div>
</div>

{% endblock %}