{% extends "layouts/component.njk" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
<link rel="stylesheet" type="text/css" href="/css/wholee-comp.css">
{% endblock %}

{% block component %}
<h2 class="component-title">Card UI</h2>
<div class="component-contents">
<h3>SVG Guide</h3>
<i class="icon-svg svg-article"></i>

</div>
{% endblock %}