{% extends "layouts/component.njk" %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/hy-comp.css">
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
{% endblock %}

{% block component %}
<h2 class="component-title">HY Card UI</h2>
<div class="component-contents" style="background:#ddd">
    <!-- module card basic = width: 260px; -->
    <!-- card-size-nnn : 숫자 수치에 따라 크기보정이 가능하도록 설계 -->
    <!-- group-name = wholee / uihong / 오성 / 지원 / 유네 각 이름 추가하면 UI변경 -->
    <div class="module-card card-col1 hy" style="margin-bottom: 48px;">
         <div class="card-visual">
            <img src="../img/hy/card1-hy.png" alt="card visual image">
        </div>
        <div class="card-contents">
            <div class="text-tagarea"><a href="#" class="hashtag">#self</a></div>
            <div class="text-title">The Gifts of Fatness</div>
            <div class="text-sub">I know how hard it is to walk through the world in a fat body.</div>
        </div>
        <div class="card-footer">
            <div class="text-writer">
                <i class="icon icon-behance"></i>
                <span class="writer-name">Little Little Star</span>
            </div>
        </div>
    </div>

    <div class="module-card card-col2 hy" style="margin-bottom: 48px;">
        <div class="card-visual">
            <img src="../img/hy/card2-hy.png" alt="card visual image">
        </div>
    <div class="card-contents">
        <div class="text-tagarea"><a href="#" class="hashtag">#self</a></div>
        <div class="text-title">The Gifts of Fatness</div>
        <div class="text-sub">I know how hard it is to walk through the world in a fat body.</div>
    </div>
    <div class="card-footer">
        <div class="text-writer">
            <i class="icon icon-pinterest"></i>
            <span class="writer-name">Little Little Star</span>
        </div>
    </div>
    </div>
    <div class="module-card card-col3 hy" style="margin-bottom: 48px;">
    <div class="card-visual">
        <img src="../img/hy/card3-hy.png" alt="card visual image">
    </div>
    <div class="card-contents">
        <div class="text-tagarea"><a href="#" class="hashtag">#self</a> </div>
        <div class="text-title">The Gifts of Fatness</div>
        <div class="text-sub">I know how hard it is to walk through the world in a fat body.</div>
    </div>
    <div class="card-footer">
        <div class="text-writer">
        <i class="icon icon-medium"></i>
        <span class="writer-name">Little Little Star</span>
        </div>
    </div>
    </div>
</div>

{% endblock %}