{% extends "layouts/layout.njk" %}

{% block layout_view %}
<h2 class="layout-title">
    Layout Style 01 <span class="txt-1920">1920px</span><span class="txt-1200">1200px</span>
</h2>
<div class="layout-view">
    <div class="layout-card-view">
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 464px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 464px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 224px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 224px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 464px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 464px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 704px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">3 col</p>
                <p>width: 704px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 464px; height: 180px; margin-right: 16px; margin-bottom: 16px; background: #cbfdff;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 464px</p>
            </div>
        </div>







        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 184px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 284px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">4 col</p>
                <p>width: 284px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 284px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">4 col</p>
                <p>width: 284px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 284px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">4 col</p>
                <p>width: 284px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 284px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">4 col</p>
                <p>width: 284px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 384px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">3 col</p>
                <p>width: 384px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 384px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">3 col</p>
                <p>width: 384px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 384px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">3 col</p>
                <p>width: 384px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 584px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 584px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 584px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">2 col</p>
                <p>width: 584px</p>
            </div>
        </div>
        <div class="card-ui" style="width: 1184px; height: 180px; margin-right: 16px; margin-bottom: 16px;">
            <div class="size-info">
                <p class="tit">1 col</p>
                <p>width: 1184px</p>
            </div>
        </div>
    </div>    
    <div class="layout-margin"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-gutter"></div>
    <div class="layout-column"></div>
    <div class="layout-margin"></div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}