{% extends "layouts/component.njk" %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/uihong-comp.css">
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
{% endblock %}

{% block component %}
<h2 class="component-title">UIhong Card UI</h2>
<div class="component-contents">
    <div class="module-card card-size-260 uihong">
        <div class="card-visual">
            <img src="https://dummyimage.com/260x200px" alt="card visual image">
        </div>
        <div class="card-contents">
            <i class="icon-svg svg-size svg-article" style="width: 50px; height: 50px;"></i>
            <p class="text-title">Main Title_web</p>
            <p class="text-sub">Sub script for this website</p>
        </div>
        <div class="card-footer">
            <p class="text-footer">source</p>
        </div>
    </div>

</div>

{% endblock %}