{% extends "layouts/component.njk" %}
<link rel="stylesheet" type="text/css" href="/css/uihong-comp.css">

{% block component %}
<h2 class="component-title">UIhong Card UI</h2>
<div class="component-contents">
</div>

{% endblock %}