{% extends "layouts/component.njk" %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/yh-comp.css">
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
{% endblock %}

{% block component %}
<h2 class="component-title">YH Card UI</h2>
<div class="component-contents">
</div>

{% endblock %}