{% extends "layouts/component.njk" %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/yh-comp.css">
<link rel="stylesheet" type="text/css" href="/css/icon-svg.css">
{% endblock %}

{% block component %}
<h2 class="component-title">YH Card UI</h2>
<div class="component-contents" style="background:#ddd">
    <!-- module card basic = width: 260px; -->
    <!-- card-size-nnn : 숫자 수치에 따라 크기보정이 가능하도록 설계 -->
    <!-- group-name = wholee / uihong / 오성 / 지원 / 유네 각 이름 추가하면 UI변경 -->
    <div class="module-card pin-view radius-6 yh">
        <div class="card-visual">
            <img src="https://dummyimage.com/290x220/00a2ff/fff" alt="card visual image">
        </div>
        <div class="card-contents">
            <div class="text-title">
                Astronomy Binoculars A Great Alternative
            </div>
            <div class="text-sub">
                Planning Helps Make A Party Perfect Keep Dinner Simple Heat Frozen…
            </div>
            <div class="icon-favicon"></div>
        </div>
        <div class="card-footer">
            <div class="text-writer">
                <span class="writer-by">by</span>
                <span class="writer-name">Little Little Star</span>
            </div>
            <span class="module-text-icon icon-30 radius-15" style="background:#ddd;">
                <em style="color: #000;">Category</em>
            </span>
            <i class="heart outline icon"></i>
        </div>
    </div>
    
    
    <div class="module-card pin-view radius-6 yh">
        <div class="card-visual">
            <img src="../img/yh/card-yh.png" alt="card visual image">
        </div>
        <div class="card-contents" style="background:#d9b499;">
            <div class="text-title">
                Astronomy Binoculars A Great Alternative
            </div>
            <div class="text-sub">
                Planning Helps Make A Party Perfect Keep Dinner Simple Heat Frozen…
            </div>
            <div class="icon-favicon"></div>
        </div>
        <div class="card-footer" style="background:#d9b499;">
            <div class="text-writer">
                <span class="writer-by">by</span>
                <span class="writer-name">Little Little Star</span>
            </div>
            <span class="module-text-icon icon-30 radius-15" style="background:#ddd;">
                <em style="color: #000;">Category</em>
            </span>
            <i class="heart outline icon"></i>
        </div>
    </div>
    
</div>

{% endblock %}